<form action="/todos/{{ todo.id }}?_method=DELETE" method="POST" style="display: inline;">
  <div class="input-group">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="checkbox" name="isDone" {{#if todo.isDone }} checked {{/if}} disabled>
      </div>
    </div>
    <input type="text" class="form-control" placeholder="name" name="name" value="{{ todo.name }}" disabled>
    <div class="input-group-append">
      <a class="btn btn-success" href="/todos/{{ todo.id }}/edit">Edit</a>
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
  </div>
</form>