<form action="/todos" method="POST" style="display: inline;">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="name" name="name">
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </div>
</form>